/* color scheme 1 */
$base-text-color: #000000; 					//	1. Headlines and primary texts
$shape-bg-color: #ffffff;					//	2. Article background
$article-border-color: #c3c3c3;				//	3. Article border
$extra-text-color: #2f2f2f;					//	4. Secondary texts
$category-color: #63a9dd;					//	5. Category label color
$category-text-color: #ffffff;				//	6. Category text color		
$buttons-color: #37454c;					//	7. Buttons	
$menu-color: #f0f0f0;						//	8. Menu
$form-color: #5c5c5c;						//	9. Forms
$cover-text-color: #ffffff;					//	10. Cover text color

/* global fonts variables */
$headlines-font: 'RobotoCondensedLight';						//	Headlines
$subtitles-font: 'RobotoCondensedLight';						//	Subtitles
$paragraphs-font: 'RobotoCondensedLight';						//	Paragraphs
