admin/sass/.sass-cache/*
gulptools/node_modules/*
gulptools/merged/*
gulptools/scss/*
gulptools/.sass-cache/*
coverage/*
node_modules/*
*.DS_store
.DS_store?
.idea/
external/

\.scannerwork/

sonar-project\.properties
