#wmpack-admin{
	.look-and-feel{
		display: table;
		
		.left-side{
			width: 100%;
			display: table;
			vertical-align: top;
			
			.corner{
				z-index: 1;
				
				&.active{
					.indicator{
						@include wbz-inline-icon(active, 11px);
						color: #ffffff;
						left: 191px;
						
						&::before{
							top: -40px;
							right: 18px;
						}
					}
				}
				&.inactive{
					.indicator{
						@include wbz-inline-icon(active, 11px);
						color: #8bc4da;
						left: 191px;
						
						&::before{
							top: -40px;
							right: 18px;
						}
					}
				}
			}
			.details{
				padding:30px;
				background-color: $box-color;
				 
				h2.title{
					font-family: 'OlRoundGothicLight', sans-serif;
					font-size: 25px;
					line-height: normal;
					color: $base-text-color;
				}
				.section-header{
					font-family: 'AcorderSemiBold', sans-serif;
					font-size: 18px;
					line-height: normal;
					color: $base-dark-blue;
				}
				.color-schemes{
					width: 50%;
					float: left; 
					
					.colors{
						display: table; 
						width: 260px;
						height: 16px;
						border: #daddde  1px solid;
						
						&.description{
							border: none;
							font-family: 'AcordeRegular', sans-serif;
							margin-left:56px;
						}
						
						[class^="color-"]{
							display: table-cell;
							height: 16px;
							width: 27px; 
							text-align: center;
						}



						.color-1-1{
							background: #000000;
						}
						.color-1-2{
							background: #ffffff;
						}
						.color-1-3{
							background: #c3c3c3;
						}
						.color-1-4{
							background: #2f2f2f;
						}
						.color-1-5{
							background: #63a9dd;
						}
                        .color-1-6{
                            background: #ffffff;
                        }
						.color-1-7{
							background: #37454c;
						}
						.color-1-8{
							background: #f0f0f0;
						}
						.color-1-9{
							background: #5c5c5c;
						}
                        .color-1-10{
                            background: #ffffff;
                        }


                        .color-2-1{
							background: #ffffff;
						}
						.color-2-2{
							background: #212121;
						}
						.color-2-3{
							background: #6e6e6e;
						}
						.color-2-4{
							background: #eeeeee;
						}
						.color-2-5{
							background: #ff4f64;
						}
                        .color-2-6{
                            background: #ffffff;
                        }
						.color-2-7{
							background: #63a9dd;
						}
						.color-2-8{
							background: #40454a;
						}
						.color-2-9{
							background: #ededed;
						}
                        .color-2-10{
                            background: #ffffff;
                        }

						
						.color-3-1{
							background: #4d3c2c;
						}
						.color-3-2{
							background: #f5e4d2;
						}
						.color-3-3{
							background: #cba37d;
						}
						.color-3-4{
							background: #655547;
						}
						.color-3-5{
							background: #f18a2e;
						}
                        .color-3-6{
                            background: #ffffff;
                        }
						.color-3-7{
							background: #75ae62;
						}
						.color-3-8{
							background: #dfccb8;
						}
						.color-3-9{
							background: #f9efe4;
						}
                        .color-3-10{
                            background: #ffffff;
                        }
					}
				}
				.font-chooser{
					width: 50%;
					float: left;
					
					label {
						position: relative;
						display: inline-block;
						width: 135px;	
					}
				}
				&.theming{
					background: $base-color-darken; 
					display: table;
					width: 100%;
					
					.themes{
						display: block;
						
						.theme{
							display: inline-block;
							width: 235px;
							height: 255px;
							margin: 0 15px 0 0;
							
							&:last-child{
								margin: 0;
							}
							
							.name{
								font-family: 'AcordeRegular', sans-serif;
								font-size: 16px;
								color: $base-text-color;
								background: $base-color-lighter;
								height: 41px;
								border-bottom: 1px solid #dce0e0;
								padding: 10px;
							}
							.content{
								font-family: 'AcordeRegular', sans-serif;
								font-size: 11px;
								color: $base-p-color;
								background: $body-color;
								height: 41px;
								line-height: 41px;
								padding: 0 10px;
								display: block;
								@include wbz-display-box();
								display: flex;
								@include wbz-box-orient(horizontal);
								@include wbz-box-pack(start);
								@include wbz-box-align(center);
								
								span{
									font-family: 'AcordeRegular', sans-serif;
									font-size: 11px;
									color: $base-p-color;
									@include wbz-display-box();
									margin: 0 10px 0 0;
								}
								.facebook-icon{
									@include wbz-inline-icon(facebook, 14px);
									color: #ffffff;
									background: $facebook-color;
									@include wbz-border-radius(20px);
									width: 20px;
									height: 20px;
									display: inline-block;
									line-height: normal;
									margin: 0 2px;
									@include wbz-display-box();
									
									&::before{
										width: 20px;
										height: 20px;
										top: 3px;
										left: 3px;
									}
								}
								.twitter-icon{
									@include wbz-inline-icon(twitter, 13px);
									color: #ffffff;
									background: $twitter-color;
									@include wbz-border-radius(20px);
									width: 20px;
									height: 20px;
									display: inline-block;
									line-height: normal;
									margin: 0 2px;
									@include wbz-display-box();
									
									&::before{
										width: 20px;
										height: 20px;
										top: 4px;
										left: 4px;
									}
								}
								.rss-icon{
									@include wbz-inline-icon(rss, 13px);
									color: #ffffff;
									background: $rss-color;
									@include wbz-border-radius(20px);
									width: 20px;
									height: 20px;
									display: inline-block;
									line-height: normal;
									margin: 0 2px;
									@include wbz-display-box();
									
									&::before{
										width: 20px;
										height: 20px;
										top: 3px;
										left: 5px;
									}
								}
								.tumblr-icon{
									@include wbz-inline-icon(tumblr, 13px);
									color: #ffffff;
									background: $tumblr-color;
									@include wbz-border-radius(20px);
									width: 20px;
									height: 20px;
									display: inline-block;
									line-height: normal;
									margin: 0 2px;
									@include wbz-display-box();
									
									&::before{
										width: 20px;
										height: 20px;
										top: 3px;
										left: 3px;
									}
								}
								.wordpress-icon{
									@include wbz-inline-icon(wordpress, 19px);
									color: $wordpress-color;
									background: transparent;
									width: 20px;
									height: 20px;
									display: inline-block;
									line-height: normal;
									margin: 0 2px;
									@include wbz-display-box();
									
									&::before{
										width: 20px;
										height: 20px;
										//top: 5px;
										left: 0px;
									}
								}
							}
							.image{
								background-size: cover;
								background-repeat: no-repeat;
								width: 235px;
								height: 173px;
								overflow: hidden;
								position: relative;
								
								&:hover{
									.overlay{
										visibility: visible; 
										@include wbz-transform(translateX(0%));
										@include wbz-opacity(1);
										@include wbz-transition(all 0.3s ease-in-out);
									}
								}
							}
							.overlay{
								background: rgba(154,202,64,0.9);
								position: absolute;
								width: 235px;
								height: 173px;
								text-align: center;
								
								@include wbz-transform(translateX(-100%));
								@include wbz-opacity(0);
								@include wbz-transition(all 0.3s ease-in-out);
								
								.preview{
									@include wbz-inline-icon(preview, 20px);
									color: #ffffff;
									background: #333333;
									@include wbz-border-radius(33px);
									width: 33px;
									height: 33px;
									margin: 0 auto;
									float: none;
									
									&:hover{
										cursor: pointer;
										background: lighten(#333333, 10%);
									}
									
									&::before{
										width: 33px;
										height: 33px;
										top: 7px;
										left: 0px;
									}
								}
								.text{
									font-family: "OpenSansSemiBold", sans-serif;
									font-size: 13px;
									color: #333333;
									text-align: center;
									display: block;
								}
								
							}
							&.premium{
								.corner{
									.indicator{
										background: url(../images/ribbon-premium.png);
										width: 67px;
										height: 68px;
										position: absolute;
										top: -4px;
										right: -5px;
										left: 235px - 62px;   
									}
								}
								.overlay{
									background: rgba(#fdf7d3,0.9);
									
									.unlock{
										@include wbz-inline-icon(unlock, 17px);
										color: #ffffff;
										background: $base-orange;
										@include wbz-border-radius(33px);
										width: 33px;
										height: 33px;
										margin: 0 2px;
										float: none;
										
										&:hover{
											cursor: pointer;
											background: lighten($base-orange, 10%);
										}
										
										&::before{
											width: 33px;
											height: 33px;
											top: 7px;
											left: 0px;
										}
									}
									.preview{
										background: $base-orange;
										
										&:hover{
											background: lighten($base-orange, 10%);
										}
									}
									.text{
										font-family: "OpenSansSemiBold", sans-serif;
										font-size: 13px;
										color: $base-text-color;
										text-align: center;
										display: block;
										
										&:last-child{
											font-size: 12px;
											font-family: "OpenSansRegular", sans-serif;
										}
										span{
											font-size: 15px;
											color: $base-text-color;
											display: block;
										}
									}
									.btn{
										margin: 0 auto;
									}
									.info{
										margin: 0 auto;
										width: $input-size-smaller + $btn-size-smallest + 10px;
										
										input[type="text"]{
											float: left;
											background: rgba(250,250,250,0.8);
										}
										.btn{
											float: left;
											margin: 0 0 0 10px;
										}
									}
								}
							}
						}
					}
				}
				&.branding{
					label, p{
						font-family: 'AcordeRegular', sans-serif;
						font-size: 15px;
						line-height: normal;
						color: darken($base-blue,50%);
						
					}
					.custom-upload {
						position: relative;
						height: 36px;
						width: 450px;
						margin: 10px 0;
					
						&:hover{
							.fake-file{
								.btn{
									background: darken($base-grey, $darken-amounth/2);
									border: 1px solid darken($base-grey, $darken-amounth);
								}
								input{
									outline:none;
									border:1px solid darken($input-border,$darken-amounth);
								}	
							}
						}
						.remove{
							position: absolute;
							top: 8px;
							right: 160px;
							width: 16px;
							height: 16px;
							z-index: 3;
							@include wbz-inline-icon(close-x, 9px);
							color: #ffffff;
							background: $base-color-darken;
							@include wbz-border-radius(16px);
							padding: 3px;
							
							&::before{
								top: -4px;
								left: 0px;
								display: block;
							}
						}
					}
					.custom-upload input[type=file] {
						outline: none;
						position: relative;
						text-align: right;    
						@include wbz-opacity(0);
						z-index: 2;
						width: 430px;
						height: 100%;
					}
					.custom-upload .fake-file {
						position: relative;
						top: -38px;
						left: 0px;
						width: 430px;
						padding: 0;
						margin: 0;
						z-index: 1;
						line-height: 100%;
						@include wbz-display-box();
						
						.btn{
							margin: 0px 0px 0px 10px;
						}
					}
					.custom-upload .fake-file input {
						width: 300px;
						font-family: 'AcordeSemiBold', sans-serif;
						color: $input-color;
						font-size: $input-font-size;
						margin: 0;
					}
					.display-logo{
						text-align: left;
						height: 120px;
						
						.edit{
							margin: 47px 0 0 0;
							vertical-align: middle;
							text-align: center;
							float: left;
						}
						.remove{
							display: inline-block;
							margin: 55px 0 0 10px;
						}
						.img{
							width: 120px;
							height: 120px;
							display: inline-block;
							margin: 0 25px;
							float: left;
						}
						label{
							width: 100px;
							display: inline;
							float: left;
							margin: 55px 0 0 0;
						}
					}
					.display-icon{
						@include wbz-display-box();
						@include wbz-box-orient(horizontal);
						@include wbz-box-pack(start);
						@include wbz-box-align(center);
						text-align: left;
						height: 120px;
						
						.edit{
							margin: 47px 0 0 0;
							vertical-align: middle;
							text-align: center;
							float: left;
						}
						.remove{
							display: inline-block;
							margin: 55px 0 0 10px;
						}
						img{
							width: 120px;
							height: 120px;
							@include wbz-border-radius(120px);
							@include wbz-box-shadow(inset 0 0 5px 1px rgba(0,0,0,0.1));
							display: inline-block;
							margin: 0 25px;
							float: left;
						}
						label{
							width: 100px;
							display: inline;
							float: left;
							margin: 55px 0 0 0;
						}
					}
					.cancel-link{
						position: relative;
						
						.cancel{
							position: absolute;
							top: -39px;
							right: -30px;
						}
					}
				}
			
			}
		}
	}
}