#wmpack-admin{
	.more{
		display: table;

		.left-side{
			width: 100%;
			display: table;
			vertical-align: top;
			
			.details{
				padding:30px;
				background-color: $box-color; 
				
				h1{
					font-family: 'OlRoundGothicLight', sans-serif;
					font-size: 40px;
					line-height: 40px;
					color: $base-text-color;
					text-align: center;
					letter-spacing: 0.5px;
				}

                .showcase{
                    width: 671px;
                    margin: 0 auto;
                }

                .package {
                    width: 45%;
                    float: left;
                    margin: 15px;
                    padding: 25px 25px 0 25px;
                    background: #fffced;

                    h2 {
                        text-align: center;
                    }

                    p {
                        text-align: center;
                        font-size:13px;
                    }

                    .features-list{
                        display: block;
                        margin: 0 auto;
                        width: 90%;

                        > div {
                            padding: 10px 5px;
                            border-bottom: 1px solid #ededed;
                            font-family: 'OpenSansRegular', sans-serif;
                            font-size: 14px;
                            line-height: 22px;

                            &:last-child{
                                border-bottom: none;
                            }
                            span{
                                display: block;
                                margin-top: 3px;
                            }
                            [class^="icon-"]{
                                overflow: hidden;
                                line-height: 30px;
                                width: 38px;
                                height: 30px;
                                float: left;
                                margin: 0 10px 0 0;
                                color: darken($base-color-darken, 20%);

                                &::before{
                                    width: 38px;
                                    height: 30px;
                                    line-height: 25px;
                                    display: block;
                                    margin: 0 auto;
                                }
                            }

                            .icon-wordpress{
                                @include wbz-inline-icon(wordpress, 20px);
                            }

                            .icon-theming{
                                @include wbz-inline-icon(paint, 20px);
                            }

                            .icon-social{
                                 @include wbz-inline-icon(share, 20px);
                            }

                            .icon-monetize{
                                @include wbz-inline-icon(coins, 25px);
                            }

                            .icon-support{
                                @include wbz-inline-icon(headset, 20px);
                            }

                            .icon-security{
                                @include wbz-inline-icon(shield, 18px);
                            }

                            .icon-tablets{
                                @include wbz-inline-icon(tablet, 20px);
                            }

                            .icon-sources{
                                @include wbz-inline-icon(cloud, 20px);
                            }

                            .icon-applications{
                                @include wbz-inline-icon(stack, 20px);
                            }

                            .icon-offline{
                                @include wbz-inline-icon(airplane, 18px);
                            }
                            .icon-apple{
                                @include wbz-inline-icon(apple, 20px);
                            }
                        }
                    }
                }

                .upgrade-btns {

                    width: 50%;
                    float: left;

                    .btn {
                        margin: 0 auto;
                        width: 150px;
                    }

                    .upgrade-subtext {
                        text-align: center;
                        margin-top: 10px;

                        p, a{
                            font-size: 13px;
                            line-height: normal;
                        }

                        a {
                            text-decoration: underline;
                        }
                    }
                }

				.try-it-subtext{

                    width:60%;
                    margin: 0 auto;

                    p, a{
                        font-size: 13px;
                        line-height: normal;
                    }

                    a {
                        text-decoration: underline;
                    }
                }
			}
		}
	}
}