#wmpack-admin{
	.settings{
		display: table;
	
		.left-side{
			width: 100%;
			display: table;
			vertical-align: top;
			
			.details{
				padding: 30px;
				background-color: $box-color; 
				
				h2.title{
					font-family: 'OlRoundGothicLight', sans-serif;
					font-size: 25px;
					line-height: normal;
					color: $base-text-color;
				}
				.display-mode{
					
					p, label{
						font-family: 'AcordeRegular', sans-serif;
						font-size:15px;
						line-height: normal;
						color: $base-text-color;	
					}
				}
			}
		}
	}
}