#wmpack-admin{
	.whats-new{
		display: table;
		.left-side{
			width: 100%;
			display: table;
			vertical-align: top;
			
			
			.details{
				padding:30px;
				background-color: $box-color; 
				
				h1{
					font-family: 'OlRoundGothicLight', sans-serif;
					font-size: 40px;
					line-height: 40px;
					color: $base-text-color;
					text-align: center;
					letter-spacing: 0.5px;
				}
				.upgrade-message{
					text-align: center;
				}
				h2.title{
					font-family: 'OlRoundGothicLight', sans-serif;
					font-size: 25px;
					line-height: normal;
					color: $base-text-color;
				}
				.showcase{
					width: 671px;
					margin: 0 auto;
				}
				.feature{
					img{
						height: 130px;
						width: 130px;
						float: left;	
						margin: 0 30px 0 0;		
					}
					.text{
						span{
							font-family: "OpenSansRegular", sans-serif;
							font-size: 14px;
							color: $base-text-color;
							
							&.title{
								display: block;
								margin: 15px 0 8px 0;
								font-size: 18px;
								color: #333333;
							}
						}
					}
					&.right{
						img{
							float: right;
							margin: 0 0 0 30px;	
						}
					}
				}
			}
		}
	}
}