/* color scheme 3 */
$base-text-color: #4d3c2c; 					//	1. Headlines and primary texts
$shape-bg-color: #f5e4d2;					//	2. Article background
$article-border-color: #cba37d;				//	3. Article border
$extra-text-color: #655547;					//	4. Secondary texts
$category-color: #f18a2e;					//	5. Category label color
$category-text-color: #ffffff;				//	6. Category text color
$buttons-color: #75ae62;					//	7. Buttons
$menu-color: #dfccb8;						//	8. Menu
$form-color: #f9efe4;						//	9. Forms
$cover-text-color: #ffffff;					//	10. Cover text color
