/* global fonts variables */
$headlines-font: 'RobotoLightCondensed';						//	Headlines
$subtitles-font: 'RobotoLightCondensed';						//	Subtitles
$paragraphs-font: 'RobotoLightCondensed';						//	Paragraphs