/* global fonts variables */
$headlines-font: 'OpenSansCondensedLight';						//	Headlines
$subtitles-font: 'OpenSansCondensedLight';						//	Subtitles
$paragraphs-font: 'OpenSansCondensedLight';						//	Paragraphs