/* color scheme 2 */
$base-text-color: #ffffff; 					//	1. Headlines and primary texts
$shape-bg-color: #212121;					//	2. Article background
$article-border-color: #6e6e6e;				//	3. Article border
$extra-text-color: #eeeeee;					//	4. Secondary texts
$category-color: #ff4f64;					//	5. Category label color
$category-text-color: #ffffff;				//	6. Category text color
$buttons-color: #63a9dd;					//	7. Buttons
$menu-color: #40454a;						//	8. Menu
$form-color: #ededed;						//	9. Forms
$cover-text-color: #ffffff;					//	10. Cover text color
